#container{
    display: flex;
    /* border: 2px solid red; */
}
#checkoutDetails{
    padding-top: 200px;
}
#checkoutDetailsdiv{
    padding:50px;
    box-sizing: border-box;
    border-radius: 5px;
    width: 420px;    
    background-color: rgb(238, 234, 234);
}
#checkoutDetailsdiv>div{
    display: flex;
    justify-content: space-between;
}
#checkoutButtone>button{
    width: 90%;
    background-color: blue;
    margin: auto;
    height: 45px;
    color: white;
    font-size: large;
    border-radius: 20px;
    border: 0px solid blue;
}
#productDetails{
    width: 60%;
    padding-top: 200px;
    padding-left: 50px;
    padding-right: 30px;
    
}
#container>h2{
    width: 98%;
}
#image{
    width: 50px;
}
#heading{
    display: flex;
    justify-content: space-evenly;
    /* border: 2px solid red; */
}
.productsBody{
    display: flex;
}
.product{
    display: flex;
    width: 100%;
    /* border: 2px solid red; */
    justify-content: space-evenly;
}
.product img{
    width: 100%;
    height: 100%;
}
.product>.imageDiv{
    width: 60px;
    height: 80px;
}
.product>.detailsDiv{
    display: flex;
    width: 40%;    
    flex-direction: column;
    padding-left: 30px;
}
.product>.detailsDiv h4,  .product>.detailsDiv h6{
    padding: 0px;
    margin: 0px;
}
.product>.qntDiv{
    width: 20%;
    display: flex;
   flex-direction: column;
}
.product>.totDiv{
    box-sizing: border-box;
    padding-left: 30px;
    width: 20%;
    display: flex;
    flex-direction: column;    
}
.product>.totDiv h3{
    padding: 0px;
   margin-bottom: 0px;
}
.qntAddDiv{
    display: flex;
    align-items: center;
    border: 1px solid rgb(204, 199, 199);
    width: 92px;
    height: 32px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 0px;
}
.qntBox{
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: 5px;
    font-size: large;    
    box-sizing: border-box;    
}
.qntadd{
    width: 30px;
    height: 30px;
    border: 0px solid red;
    background-color: white;
    border-radius: 20px;
    font-size: x-large;
}

@media all and (min-width: 400px)and (max-width: 700px){
    #container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }    
}