#bottomPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(245, 240, 240);
}
#bottomPage>#contactUs{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
    text-decoration: none;
}
#weAcceptPayment{
    display: flex;
    justify-content: space-around;
}
#weAcceptPayment>img{
    width: 45px;
    height: 45px;
    margin: auto;
    padding: 10px;
}
#adress{
    text-align: center;
}
#contactUs a ,p{
    text-decoration: none;
    color: black;
}
#followUs>div{
    display: flex;
}
#followUs>div>div{
    display: flex;
    padding: 15px;
    border: 1px solid grey;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#followUs>div> :hover{
    background-color:grey;
}
#followUs>div>div>a :hover{
    color: white;
}
@media all and (min-width: 400px)and (max-width: 700px){
    #bottomPage>#contactUs{
        grid-template-columns: repeat(2,1fr);
    }    
}